.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
typings/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
package-lock.json
tslint.json
.editorconfig

node_modules
webpack.config.js